:root {
  --color-primari: #2a5ee8;
  --color-secundari: #f5f8ff;
  --color-text: #333;
  --nav-h: 70px;
  --glass-bg: rgba(255, 255, 255, 0.8);
  --glass-bd: rgba(0, 0, 0, 0.1);
}
html, body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #333
    blackground: linear-gradient(180deg, #e6f0ff 0%, #f9fbff 40%, #ffffff 100%);
}
/*Menu */
.topnav{
  position: sticky;
  top: 0;
  z-index: 1000;
  height: var(--nav-h);

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;

  padding: 0 20px;
  border-bottom: 1px solid var(--glass-bd);

  background: var(--glass-bg);
  backdrop-filter: blur(10px) saturate(140%);
  -webkit-backdrop-filter: blur(10px) saturate(140%);
  box-shadow: 0 2px 12px rgba(0,0,0,0.06);
}

.topnav .brand{
    font-weight: 700;
    letter-spacing: 0.2px;
    white-space: nowrap;
}

.topnav .menu {
    list-style: none;
    display: flex;
    gap: 18px;
    padding: 0;
    margin: 0;
}
/*Pie*/
footer {
     text-align: center;
  padding: 20px;
  background: var(--color-secundari);
  color: #1f1f1f;
  margin-top: 40px;
  font-size: 0.9rem;
}

/* Contenedor general */
.container {
  max-width: 1100px;
  margin: 90px auto 0 auto; /* 90px per compensar el menú fix */
  padding: 0 20px;
}

/* 🔹 Cambiamos el tamaño y la posición de las imágenes */
img {
      width: 150px;         /* tamaño más pequeño */
      height: auto;         /* mantiene la proporción */
      display: block;       /* permite centrarla */
      margin: 10px auto 0;  /* centrada debajo del texto */
      border-radius: 10px;
}